autom4te.cache/* linguist-generated = true
INSTALL linguist-generated = true
README.md linguist-documentation = true
LICENSE linguist-generated = true
Makefile.in linguist-generated = true
aclocal.m4 linguist-generated = true
compile linguist-generated = true
config.h.in linguist-generated = true
configure linguist-generated = true
depcomp linguist-generated = true
install-sh linguist-generated = true
mising linguist-generated = true
src/Makefile.in linguist-generated = true
src/Makefile linguist-generated = true
